<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EventPlaning · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>

  <nav>
    <div class="nav-wrapper">
      <h4 class="right"><%= if @conn.assigns[:user_info] do %>
      <a href="<%= Routes.user_plan_path(@conn, :index, @user_info)%>" class="brand-logo">Event Planing</a>
      <a href="<%= Routes.user_plan_path(@conn, :my_shedule, @user_info)%>" class="brand-logo">My Shedule</a>
      <a href="<%= Routes.user_plan_path(@conn, :next_event, @user_info)%>" class="brand-logo">Next Event</a>
      <a href="<%= Routes.user_path(@conn, :index)%>" class="brand-logo"> Users List </a><br>
      <%= link "logout", to: Routes.page_path(@conn, :logout, class: "btn btn-primary blue") %>
      <a href="<%= Routes.user_path(@conn, :show, @user_info.id)%>" class="brand-logo"> User_info </a>
      <% else %>
      <%= link "login", to: Routes.page_path(@conn, :login, class: "btn btn-primary blue") %>
      <a href="<%= Routes.user_path(@conn, :new)%>" class="brand-logo"> Registry </a>
      <% end %> </h4>
    </div>
  </nav>

  <a href="<%= Routes.private_path(@conn, :private)%>" class="center">Private page</a>

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
