<h1><%= form_for @conn, Routes.page_path(@conn, :login),
[as: :password], fn f-> %>

<%= label f, :email  %>
<%= text_input f, :email, class: "form-control" %>

<%= label f, :pass %>
<%= text_input f, :pass, class: "form-control" %></h1>

<%= submit "log-in", class: "btn btn-primary blue" %>
<% end %>
