<h1>Edit Plan</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_plan_path(@conn, :update, @user_info.id, @plan)) %>

<span><%= link "Back", to: Routes.user_plan_path(@conn, :index,  @user_info.id) %></span>
