<h1>New Plan</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_plan_path(@conn, :create , @u_id)) %>

<span><%= link "Back", to: Routes.user_plan_path(@conn, :index, @u_id) %></span>
