<%= for event <- @plan do %>
<li>
    <strong>Date:</strong>
    <%= event.date %>
  </li>

  <li>
    <strong>Repetition:</strong>
    <%= event.repetition %>
  </li>

</ul>
<% end %>

<span><%= link "Edit", to: Routes.plan_path(@conn, :edit, @plan) %></span>
<span><%= link "Back", to: Routes.plan_path(@conn, :index) %></span>
